<div id="main-content">
  <div class="container">
<h2>Gallery</h2>

<div class="gallery-slider">
  <ul class="gallery-slider-main slider">
    <li><img src="images/accommodation-details/room.jpg" alt="" /></li>
    <li><img src="images/accommodation-details/livingroom.jpg" alt="" /></li>
    <li><img src="images/accommodation-details/couch.jpg" alt="" /></li>
    <li><img src="images/accommodation-details/chairs.jpg" alt="" /></li>
    <li><img src="images/accommodation-details/lamp.jpg" alt="" /></li>
    <li><img src="images/accommodation-details/sink.jpg" alt="" /></li>
    <li><img src="images/accommodation-details/bathroom.jpg" alt="" /></li>
    <li><img src="images/accommodation-details/desk.jpg" alt="" /></li>
    <li><img src="images/accommodation-details/couch-2.jpg" alt="" /></li>
  </ul>
  <ul class="gallery-slider-thumbs slider">
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/room.jpg" alt="" /></a></li>
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/livingroom.jpg" alt="" /></a></li>
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/couch.jpg" alt="" /></a></li>
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/chairs.jpg" alt="" /></a></li>
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/lamp.jpg" alt="" /></a></li>
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/sink.jpg" alt="" /></a></li>
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/bathroom.jpg" alt="" /></a></li>
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/desk.jpg" alt="" /></a></li>
    <li><a class="thumb" href="#"><img src="images/accommodation-details/thumbs/couch-2.jpg" alt="" /></a></li>
  </ul>
</div><!-- end .gallery-slider -->

</div>
</div>
