<div id="main-content">
  <div class="container">

    <h1 class="aligncenter post-title">Lavilla cottage on the sea</h1>
<h3 class="aligncenter post-title">Come relax with us, you won't regret it.</h3>
    <div class="row">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed adipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magi aliqua nostrud exercitation ullamco ipsum dolor sit amet, consectetur consectetur adipisicing elit
      labore et dolore magi aliqua nostrud exercitation ullamco ipsum dolor sit amet, consectetur consectetur adipisicing elit.
    </p>
    </div>
    <div class="row">
    <h3>Rooms</h3>

    <div class="inner-container">
      <div class="column-8-3">
        <ul class="disc-bullet">
          <li>1 Bedroom</li>
          <li>1 Kitchen</li>
          <li>3 Toilets</li>
        </ul>
      </div>
      <div class="column-8-3">
        <ul class="disc-bullet mobile-no-top-margin">
          <li>2 Lounges</li>
          <li>2 Bathrooms</li>
          <li>1 Cloak Room</li>
        </ul>
      </div>
      <div class="column-8-3 column-last">
        <ul class="disc-bullet mobile-no-top-margin">
          <li>1 Dining Room</li>
          <li>1 Balcony</li>
          <li>1 Scullery</li>
        </ul>
      </div>
    </div>
    </div>
    <div class="row">

    <h3>Features</h3>

    <div class="inner-container">
      <div class="column-8-3">
        <ul class="disc-bullet">
          <li>Free Wi-Fi</li>
          <li>LCD projector</li>
          <li>Air conditioning</li>
        </ul>
      </div>
      <div class="column-8-3">
        <ul class="disc-bullet mobile-no-top-margin">
          <li>Personal safe</li>
          <li>Air conditioning</li>
          <li>Breakfast included</li>
        </ul>
      </div>
      <div class="column-8-3 column-last">
        <ul class="disc-bullet mobile-no-top-margin">
          <li>Hair dryer</li>
          <li>Flat screen TV</li>
          <li>King size bed</li>
        </ul>
      </div>
    </div>

    </div>

    <div class="row">

      <h3>Amenities</h3>

      <div class="inner-container">
        <div class="column-8-3">
          <ul class="disc-bullet">
            <li>Dishwasher</li>
            <li>Stove</li>
            <li>Oven</li>
          </ul>
        </div>
        <div class="column-8-3">
          <ul class="disc-bullet mobile-no-top-margin">
            <li>Microwave</li>
            <li>Washing Machine</li>
            <li>DSTV</li>
          </ul>
        </div>
        <div class="column-8-3 column-last">
          <ul class="disc-bullet mobile-no-top-margin">
            <li>Tumble Dryer</li>
            <li>Flat screen TV</li>
            <li>Domestic Helper (daily)</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row">

      <h3>Other Key Facts</h3>

      <div class="inner-container">
        <div class="column-8-3">
          <ul class="disc-bullet">
            <li>Accessible 24/7</li>
            <li>small pets welcome</li>
            <li>No smoking</li>
          </ul>
        </div>
        <div class="column-8-3">
          <ul class="disc-bullet mobile-no-top-margin">
            <li>Indoor swimming pool</li>
            <li>Protected trees on property</li>
            <li>Secure parking on property</li>
          </ul>
        </div>
      </div>

    </div>


  </div>
  </div>
