<div id="main-content">
  <div class="container">

    <h2>Rates</h2>

    <div class="lv-table-container">
      <table class="lv-table">

        <thead>
        <tr>
          <th>Season</th>
          <th>Nightly rate</th>
          <th>Weekly rate</th>
          <th>Monthly rate</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>from 01/09 to 30/04</td>
          <td>R2,000</td>
          <td>R2,240</td>
          <td>R2,500</td>
        </tr>
        <tr>
          <td>from 01/05 to 30/06</td>
          <td>R990</td>
          <td>R1,200</td>
          <td>R1,990</td>
        </tr>
        <tr>
          <td>from 01/07 to 15/08</td>
          <td>R500</td>
          <td>R1,500</td>
          <td>R2,000</td>
        </tr>
        <tr>
          <td>from 16/08 to 31/08</td>
          <td>R520</td>
          <td>R1,570</td>
          <td>R2,190</td>
        </tr>
        </tbody>

      </table>
    </div><!-- .lv-table-container-->

    <div class="row">
      <div class="row">
        <h3>Rates notes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magi aliqua nostrud exercitation ullamco ipsum dolor sit amet, consectetur consectetur adipisicing elit
          labore et dolore magi aliqua nostrud exercitation ullamco ipsum dolor sit amet, consectetur consectetur adipisicing elit.
        </p>
      </div>

    </div>
</div>
  </div>
